# .env

# 개발중 
VITE_API_URL=http://localhost:8080     # 서버
VITE_CLIENT_HOST=http://localhost:5173  # 클라이언트

# 배포 
# http://homo-coffeiens.kro.kr

# 네이버 지도 api용
VITE_NAVER_MAPS_CLIENT_ID=

# 카카오 회원가입 / 로그인 목적
VITE_KAKAO_CLIENT_KEY=
VITE_JAVASCRIPT_API_KEY=
VITE_SERVICE_KEY=
VITE_REDIRECT_URI=
VITE_LOGIN_REDIRECT_URI=



